body {
    font-family: Arial, sans-serif;
    background-color: #ebebeb;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 500px;
}
h1 {
    color: #6a1b9a;
    margin-top: 0;
    align-self: center;
}
label {
    color: #6a1b9a;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}
.input-group {
    display: flex;
    flex-direction: column; /* Cambiato da "row" a "columnn" */
    margin-bottom: 10px; /* Aggiunto margine inferiore per separare gli input */
    text-align: center;
}
.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-row .input-group {
    width: 48%; /* Imposta la larghezza dei gruppi di input al 48% */
}
button {
    background-color: #6a1b9a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #4a148c;
}
p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}